@import('../lib/cem');

+Component(dialog) {
	width: 100px;	
	+Entity(title) { 
		color: gray; 
	}	
	+Entity(confirmBtn) { 
		border: 1px black solid;
	}

}

+Component(cancelDialog, extends: dialogComponent) {
	+Entity(title, extends: 'dialogComponent.titleEntity') {
		color: red;
	}
	+Entity(cancelBtn, extends: 'dialogComponent.confirmBtnEntity') {
		border: 1px red solid;
	}

	+Property(lyt, 'fullsize') {
		width: 100%;
	}
}

+Modifier(MOD_BOOL, 'hidden') {
	display: none;
}

+Modifier(MOD_USE, 'theme-materialDesign') {
	+Component(cancelDialog) {
		+Entity(title) {
			color: crimson;
		}
		+Entity(confirmBtn) { 
			border: 1px crimson solid;
		}
	}
}